<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <title>Signin</title>
</head>
<body>
    <%- include("./partials/navbar") %>
    <div class="d-flex justify-content-center align-items-center mt-10">
        <div class="card shadow-lg p-4" style="max-width: 500px; width: 100%;">
            <h2 class="text-center mb-4">Signin</h2>
            <form action="/user/signin" method="post">
              <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" name="email" class="form-control" id="email" 
                placeholder="Enter your email" required>
                <div class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" 
                id="password" placeholder="Create a password" required>
              </div>
              <button type="submit" class="btn btn-primary w-100">Sign Up</button>
            </form>
            <div class="text-center mt-3">
              <p>Already have an account? <a href="/user/signup">Signup</a></p>
            </div>
        </div>
    </div>
      
    <%- include("./partials/script") %> 
</body>
</html>